<div class="container content">
    <div class="row">
        <div class="col-sm-6">
            Hola
        </div>
        <div class="col-sm-6">
            Mundo!
        </div>        
    </div>
</div>
